{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>

  <div class="container">
    <div class="header">
      {% include header.html %}
    </div>

    <div class="jumbotron">
      {% include jumbotron.html %}
    </div>

    <div class="row marketing">
      {{ content | expand_urls: root_url }}
    </div>

    <div class="footer">
      <p>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
        <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> &amp; <a href="http://getbootstrap.com">Bootstrap</a></span>
      </p>
    </div>

  </div> <!-- /container -->

</body>
</html>
