{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>

  <div class="container">
    <div class="header">
      {% include header.html %}
    </div>

    <div class="jumbotron">
      <h1>{{ site.subtitle }}</h1>
      <p class="lead">Octopress + Bootstrap&mdash;Ready to go right out-of-the-box.</p>
      <p><a class="btn btn-large btn-success" href="{{ site.url }}">Get yours today</a></p>
    </div>

    <div class="row marketing">
      {{ content | expand_urls: root_url }}
    </div>

    <div class="footer">
      <p>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
        <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> &amp; <a href="http://getbootstrap.com">Bootstrap</a></span>
      </p>
    </div>

  </div> <!-- /container -->

</body>
</html>
