{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>

  <div class="container-narrow">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">{{ site.title }}</h3>
    </div>

    <div class="jumbotron">
      <h1>{{ site.subtitle }}</h1>
      <p class="lead">Octopress + Bootstrap&mdash;Ready to go right out-of-the-box.</p>
      <p><a class="btn btn-large btn-success" href="{{ site.url }}">Get yours today</a></p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Easy</h4>
        <p>Seriously. Clone the repo.
          <br><code>bundle install</code>
          <br><code>rake preview</code>
        </p>

        <h4>Octopress</h4>
        <p>The incredible awesomeness of Octopress at your fingertips.</p>

        <h4>Bootstrap</h4>
        <p>The simple and friendly frontend framework everyone has heard of.</p>
      </div>

      <div class="col-lg-6">
        <h4>Customize</h4>
        <p>Customize your Octopress instance with Bootstrap.</p>

        <h4>Do anything</h4>
        <p>Octopress imposes no restrictions on you. Neither does Bootstrap.</p>

        <h4>Static == Speed</h4>
        <p>Because not every nail needs a heavy server-based framework+database hammer.</p>
      </div>
    </div>

    <div class="footer">
      <p>Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
        <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> &amp; <a href="http://getbootstrap.com">Bootstrap</a></span>
      </p>
    </div>

  </div> <!-- /container -->

</body>
</html>
