# ----------------------- #
#   Rakefile Directories  #
# ----------------------- #

## -- Rake Task Directories -- ##
starter_dir: ".starterpack" # directory where starter layouts/includes/stylesheets/js are stored
config_dir: "config"        # directory where config files are stored
public_dir: "public"        # compiled site directory for local previewing
source_dir: "source"        # source file directory
blog_index_dir: "source"    # directory for your blog's index page (if you put your index in source/blog/index.html, set this to 'source/blog')
deploy_dir: "_deploy"       # deploy directory (for Github pages deployment)
stash_dir : "_stash"        # directory to stash posts for speedy generation
posts_dir : "_posts"        # directory for blog files
data_dir: "data"            # directory for data fixtures (currently used for events)
event_dir: "events"         # directory for generating events
new_post_ext: "md"          # default new post file extension when using the new_post task
new_page_ext: "md"          # default new page file extension when using the new_page task
server_port: "4000"         # port for preview server eg. localhost:4000

# ----------------------------- #
#  Generate/Deploy Directories  #
# ----------------------------- #

# Publishing paths from config/publish.yml
http_path: "/"
http_images_path: "/images"
http_generated_images_path: "/images"
http_fonts_path: "/fonts"
css_dir: "public/stylesheets"

# Local development paths
sass_dir: "sass"
images_dir: "source/images"
fonts_dir: "source/fonts"
